.grid_menu {
    height: 20%;
    .text{
        height:45%;
    }
    .options{
        height:55%;
        ion-icon{
            height:100%;
        }
    }
}

.grid_class{
    
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 90%;

    .rowLine {
        height: 33%;
        width:  100%;
        
        ion-col {
            
            width: 100%;
            height: 100%;
            border: 1px solid black;


        }
        
    }
}